.share{
  border-radius: 16px;
  border: 1px solid #E0E0E0;
  background: #FFF;
  margin-bottom: 20px;
}

.container{
  padding: 20px;
}

.top{
  display: flex;
  align-items: center;
  gap: 20px;
}

.container img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

hr{
  margin: 20px 0px;
  border: none;
  height: 0.5px;
  background-color: var(--border);
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-bottom{
  display: flex;
  align-items: center;
  gap: 20px;
}

.item{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.item fa-icon{
    height: 20px;
}

.item span{
  color: var(--Gray-2, #4F4F4F);
font-feature-settings: 'clig' off, 'liga' off;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 16.8px */
}

.right-bottom button{
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--02--Azul-secundrio, #025159);
  color: var(--02--Azul-secundrio, #025159);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 14.4px */
  background-color: transparent;
}

.container input{
  display: flex;
  height: 8px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 16px;
  border: 0.75px solid var(--Gray-4, #BDBDBD);
  background: #F2F2F2;
}

.icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.right{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.file{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0px;
}




