.light-mode{
  --textColor: #000;
  --bg: white;
  --logo: darkgreen;
  --bgSoft: #f6f3f3;
  --textColorSoft: #555;
  --border: lightgray;
}

.dark-mode {
  --textColor: whitesmoke;
  --bg: #222;
  --logo: white;
  --bgSoft: #333;
  --textColorSoft: lightgray;
  --border: #444;
}

.container {
  display: flex;
}

.profile {
  flex: 6;
  background-color: var(--bgSoft);
}


.images {
  position: relative;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  z-index: 1;
  position: relative;
}

.capa {
  height: 300px;
  flex-shrink: 0;
  padding: 40px 60px;
}

.perf {
  display: flex;
}

.nome {
  display: flex;
  flex-direction: column;
  margin-top: -24px;
}

.nm {
  color: #333;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 24px */
}

.arro {
  color: var(--Gray-2, #4F4F4F);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 15.6px */
  letter-spacing: -0.5px;
}

.imagperf {
  border: 8px solid #F4F2EE;
  width: 166px;
  height: 166px;
  border-radius: 50%;
  margin-top: -150px;
  margin-left: 100px;
  position: relative;
  z-index: 2;
}

.profilePic {
  width: 166px;
  height: 166px;
  border-radius: 50%;
  object-fit: cover;


}

.profileContainer {
  padding: 20px 60px;
  display: flex;
  gap: 40px;
}

.profileBox{
display: flex;
width: 551px;
justify-content: space-between;
align-items: center;
}

.followedit{
  width: 33px;
  height: 33px;
  flex-shrink: 0;
}

.info{
  flex-direction: column;
  align-items: center;
}

.userInfo {
  display: flex;
  width: 280px;
  height: 287px;
  padding: 24px;
  flex-direction: column;
  gap: 24px;
  border-radius: 16px;
  border: 1px solid #E0E0E0;
  background: #FFF;
}

.high {
  padding-left: 4px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.tit {
  color: #333;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;

  border-top: 5px;
  line-height: 120%;
  /* 16.8px */
}

.txt {
  overflow: hidden;
  color: var(--Gray-2, #4F4F4F);
  font-feature-settings: 'clig' off, 'liga' off;
  text-overflow: ellipsis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
  letter-spacing: -0.5px;
}


.left {
  flex: 1;
  display: flex;
  gap: 10px;
}

.left a {
  color: var(--textColorSoft);
}



.info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--textColorSoft);
}

.direito {
  display: flex;
  margin-top: 8px;
}

.super {
  display: flex;
  gap: 8px;
}

.int-text {
  color: var(--06--Fundo-claro, #F6F6F6);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 14.4px */
}

.block {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--05--Laranja-detalhes, #F28705);
}

button {
  border: none;
  background-color: #5271ff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

/* Para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
  .profileContainer {
    padding: 20px;
  }

  .left {
    flex-wrap: wrap;
  }
}

.posts{
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media (max-width: 600px) {
  .profileContainer {
    padding: 10px;
  }

  .userInfo {
    flex-direction: column;
    height: 30vh;
    padding: 20px;
    margin-top: 100px;
  }
}
