
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 40px;
  border-bottom: 1px solid #E0E0E0;
  background: #FFF;
  position: sticky;
  top:0;
  z-index: 999;
 }

a {
  text-decoration: none;
}

.left{
 display: flex;
 align-items: center;
 gap: 30px;
}

.logo{
  width: 134px;
  height: 22px;
  flex-shrink: 0;
  padding-left: 60px;
  align-items: center;
}

.center{
  display: flex;
  gap: 40px;
  margin: 20px;
}

.feed{
  display: flex;
  align-items: center;
}

.feed-text{
  color: var(--Gray-2, #4F4F4F);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  padding-left: 3px;
  margin-top: 2px;
}

.menseger{
  display: flex;
  align-items: center;
}

.menseger-text{
  color: var(--Gray-2, #4F4F4F);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  padding-left: 3px;
  margin-top: 2px;
}


.msg-svg{
  margin-top: 3px;
}

.mkt{
  display: flex;
  align-items: center;
}

.mkt-text{
  color: var(--Gray-2, #4F4F4F);
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  padding-left: 3px;
  margin-top: 2px;
}

.notif{
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.notif-text{
  color: #4F4F4F;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  padding-left: 3px;
  margin-top: 2px;
}

.search{
  display: flex;
  width: 230px;
  height: 8px;
  padding: 16px;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 0.75px solid var(--Gray-4, #BDBDBD);
}

.search input{
  border: none;
  width: 230px;
  background-color: transparent;
  color: var(--black-500808080, #808080);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
 }



.right{
  display: flex;
  align-items: center;
  gap: 20px;
}

.user{
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  margin-right: 60px;
 }

 .user img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
 }


/* Settings  */

.settings{
  position: absolute;
  top: 60px;
  right: 10px;
  display: inline-flex;
  padding: 24px 48px 24px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  border-radius: 16px 0px 16px 16px;
  background: var(--bgSoft);
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    }

    .settingsButton{
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      }

      .settingsButton img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }


/* Para dispositivos móveis */
@media (max-width: 480px) {
  .search input{
    display: none;
  }
  .right{
    display: none;
  }
}

/* Para tablets */
@media (min-width: 601px) and (max-width: 1024) {
  .search input{
    width: 200px;
  }
  .user{
    display: none;
  }
}
