
<div class="leftbar">
  <div class="container">
    <div class="menu">
    <div class="user">
      <img [src]="'assets/upload/' + currentUser.profilePic" alt="Foto de perfil">
      <span>{{currentUser.name}}</span>
    </div>
      <div class="item">
        <img src="/assets/01.png" alt="">
        <span>Amigos</span>
      </div>
      <div class="item">
        <img src="/assets/02.png" alt="">
        <span>Destaques</span>
      </div>
      <hr/>
      <span class="section">Navegue</span>
      <div class="item">
        <img src="/assets/03.png" alt="">
        <span>Galeria</span>
      </div>
      <div class="item">
        <img src="/assets/04.png" alt="">
        <span>Vídeos</span>
      </div>
      <div class="item">
        <img src="/assets/05.png" alt="">
        <span>Mensagens</span>
      </div>
      <div class="item">
        <img src="/assets/06.png" alt="">
        <span>Notificações</span>
      </div>
      <hr/>
      <span class="section">Configurações e Ajuda</span>
      <div class="item">
        <img src="/assets/07.png" alt="">
        <span>Configurações</span>
      </div>
      <div class="item">
        <img src="/assets/08.png" alt="">
        <span>Ajuda</span>
      </div>
    </div>
  </div>
</div>
