<div class="cadastro">
  <div class="card">
    <div class="right-card">
      <h1>Crie sua conta</h1>

      <div class="texto">
        <h2 class="msg-cadastre">Já tem uma conta?</h2>
        <a [routerLink]="['/login']">Faça login</a>
      </div>

      <form class="form" (submit)="register()">
        <label class="label-input">
          <input
            type="email"
            placeholder="Email"
            class="input"
            name="email"
            [(ngModel)]="inputs.email"
          />
        </label>
        <label class="label-input">
        <input
            type="text"
            placeholder="Nome de Usuário"
            class="input"
            name="username"
            [(ngModel)]="inputs.username"
          />
          </label>
          <div class = "dt">
          <label class="label-input">
          <input
            type="password"
            placeholder="Senha"
            class="input2"
            name="password"
            [(ngModel)]="inputs.password"
          />
        </label>
        <label class="label-input">
          <input
            type="text"
            placeholder="Nome"
            class="input2"
            name="name"
            [(ngModel)]="inputs.name"
          />
        </label>
      </div>
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          <button class="button" type="submit">Register</button>
      </form>

      <hr class="line">

      <form class="google">
        <button class="button2">
          <svg xmlns="http://www.w3.org/2000/svg" height="20" width="19.0625"
            viewBox="0 0 488 512"><!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path fill="#012e40"
              d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z" />
          </svg>
          <h2 class="msg-google">Continuar com o google</h2>
        </button>
      </form>

    </div>
  </div>

</div>
