.posts{
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.error-message {
  color: red;
  font-size: 18px;
  font-weight: bold;
}

.loading-message {
  color: orange;
  font-size: 18px;
  font-weight: bold;
}
