<div class="rightbar">
<div class="container">
  <div class="item">
    <span>Solicitações Recebidas</span>
    <div class="user">
    <div class="userInfo">
     <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
     <span>Carlos Miguel</span>
    </div>
    <div class="buttons">
      <button>Seguir</button>
      <button>Remover</button>
    </div>
    </div>
    <div class="user">
      <div class="userInfo">
       <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
       <span>Juan Lima</span>
      </div>
      <div class="buttons">
        <button>Seguir</button>
        <button>Remover</button>
      </div>
      </div>
    </div>
      <div class="item">
        <span>Atividades Recentes</span>
        <div class="user">
          <div class="userInfo">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
            <p>
              <span>Marcos Silva</span>
              compartilhou uma foto
            </p>
          </div>
          <span>1 min atrás</span>
        </div>
        <div class="user">
          <div class="userInfo">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
            <p>
              <span>Julia Silva</span>
              mudou a foto de perfil
            </p>
          </div>
          <span>1 min atrás</span>
        </div>
        <div class="user">
          <div class="userInfo">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
            <p>
              <span>Andre Santos</span>
              curtiu uma publicação
            </p>
          </div>
          <span>1 min atrás</span>
        </div>
        <div class="user">
          <div class="userInfo">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
            <p>
              <span>Carlos Teixeira</span>
              mudou a foto de perfil
            </p>
          </div>
          <span>1 min atrás</span>
        </div>
  </div>
  <div class="item">
    <span>Amigos Online</span>
    <div class="user">
      <div class="userInfo">
        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
        <div class="online"></div>
              <span>Joane Silva</span>
      </div>
      </div>
      <div class="user">
        <div class="userInfo">
          <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
          <div class="online"></div>
                <span>Miguel Salvador</span>
        </div>
        </div>
        <div class="user">
          <div class="userInfo">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
            <div class="online"></div>
                  <span>Deryk Oliveira</span>
          </div>
          </div>
          <div class="user">
            <div class="userInfo">
              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
              <div class="online"></div>
                    <span>Diego Souza</span>
            </div>
            </div>
            <div class="user">
              <div class="userInfo">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
                <div class="online"></div>
                      <span>João Henrique</span>
              </div>
              </div>
              <div class="user">
                <div class="userInfo">
                  <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="">
                  <div class="online"></div>
                        <span>José Souza</span>
                </div>
                </div>
    </div>
  </div>
</div>

